PORT=3001
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key_secreta

# Web Push VAPID Keys
VAPID_PUBLIC_KEY=BEgHCjGYvKVFYHA9tCHbc2HPKRVsW5E9mYazSQlVmGSP62XDpP0Pw6ZZK2bwODKEamy6kh1z94dLiYpOZNtCglE
VAPID_PRIVATE_KEY=KqPPXiiBjf2_f1kRl_cxiWHCmNKZzER3-vrzZ36q0zc
FRONTEND_URL=https://tu-frontend.run.app
